.container{
  margin-top: 90px;
  margin-left: 30px;
}
.row{
  margin: 20px 90px 20px;
}

.btn  {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 25px;
}

input {
        width: 120px;
}

#dpstAmount,  label {
        margin-left: 30px;
}

#intrstRate {
    margin-left: 60px;
  }

#ratesTables {
  margin-top: 50px;
}
table {
        width: 300px;
        margin: 20px;
        float: left;
    }

table, th, td {
            padding: 4px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
        }

thead {
        background-color: #535;
        color: #fff;
        padding: 6px;
      }
