.container    {
      margin-top: 90px;
}

.row{
  margin: 10px 20px 20px;
}

input   {
  width: 120px;
  margin-left: 40px;
}
.amount {
    margin-left: 33px;
}

#tenursTxt {
      margin-left: 7px;
}
.intrest {
    margin-left: 7px;
}
.calculationLbl {

    margin-left: 10px;
}

.calculation {
  margin-left: 20px;
}
